body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
img{
    width: 100%;
}
.logo-area{
    margin-left: 30px;
}
.logo-area img{
    width: 36px;
}
.logo-categories ul{
    list-style: none;
    margin-right: 20%;
}
.logo-categories ul li a{
    color: black;
    line-height: 3;
}
.icon{
    margin-right: 20px;
}
.banner-title h2{
    font-size: 20px;
    font-weight: 600;
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-main{
    border: 1px solid #eee;
    padding: 10px;
}
.banner-user{
    display: flex;
    align-items: center;
}
.user-profile{
    color: blue;
}
.user-title h2{
    color: #81878C;
    font-size: 15px;
    margin-left: 10px;
}
.user-profile{
    font-size: 32px;
}
.banner-symbols{
    color: #FFE97F;
    list-style: none;
}
.banner-symbols ul li{
  display: inline;
  padding-left: 16px;
}
.banner-symbols i{
    padding-right: 16px;
}
.banner-twtbtn{
    background-color: #FFE97F;
    border: none;
    padding: 4px 12px;
    border-radius: 14px;
}
.banner-twtbtn a{
    color: #fff;
}
.banner-tweets{
    text-align: center;
}
.banner-tweets a{
    color: #FFE97F;
    font-size: 12px;
    font-weight: 700;
}
.welcome-title h1{
    font-size: 18px;
    font-weight: 700;
}
.welcome-text p{
    font-size: 14px;
}
.welcome-button{
    background-color: #000;
    border: none;
    padding: 4px 6px;
    border-radius: 14px;
    width: 30%;
}
.welcome-button a{
    color: #fff;
}